

/* GENERAL */
body{
    background-color: black;
}

#wrapper{
    background-color: #181818;
    width : 25%;
    height: 60%;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
  
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom:35px;
    padding-top:10px;
    
}

/* SOCIAL MEDIAS LINKS */

.box__socialMedias{
    background-color:#333333;
    padding:10px;
    width:70%;
    height: 20px;
    text-align:center;
    border-radius:10px;

    display:flex;
    justify-content: center;
    align-items:center;
  }

  .link{
    color:#fefefe;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size:16px;
  }

  .box__socialMedias:hover,.link:hover{
    color:#333333;
    background-color:greenyellow;
    cursor: pointer;
  }

  .box__socialMedias:active,.link:active{
    color:#333333;
    transform: scale(1.2);
  }

/* IMAGE */
  img{
    border-radius:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 40px;
  }
/* MAIN INFO */
#infos{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

  #identity{
    font-size:20px;
    color:white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight:500;
    margin-bottom:1px;
    letter-spacing: 1px;
  }

  #location{
    font-size:16px;
    font-weight: bold;
    color:greenyellow;
    font-family: "Inter", sans-serif;
    margin-top:1pxpx;

  }
  #description{
    margin-top:1px;
    color:#a6a6a6;
    margin-top:15px;
    font-family: "Inter", sans-serif;
    font-size:16px;
    font-weight: 300;
    }

/* MEDIA - MOBILE */
  
  @media (max-width: 480px){
    #wrapper{
      width:90%;
    }
  }

/* MEDIA - TABLETS */

  @media (min-width:481px) and (max-width: 1024px){
    #wrapper{
      width:55%;
    }
  }


